.module-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.18);
  z-index: 109;
}
.module-sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  width: 240px;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 120;
  transition: right 0.3s;
}
.module-sidebar.active {
  right: 0;
}
.module-sidebar-close {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #1976d2;
  cursor: pointer;
}